<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body class="text-light" style="background-color: #111016">
    <header class="text-light" style="background-color: #111016">
        <div class="container">
            <div class="d-flex align-items-center py-4">
                <a class="d-flex align-items-center text-decoration-none me-3 text-white" href="./home.html">
                    <span class="fs-4 fw-bold lh-1 text-white">Music Events</span>
                </a>
                <ul class="nav flex-nowrap text-nowrap overflow-auto ms-auto" style="scrollbar-width: thin">
                    <li class="nav-item">
                        <a class="nav-link text-white link-info" href="./create.html">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white link-info" href="./history.html">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white link-info fw-bold" href="#">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <section id="hero" class="py-5" style="background-color: #1a1a1f">
            <div class="container">
                <div class="d-flex flex-column flex-column-reverse flex-md-row">
                    <div class="col col-md-5 me-md-5">
                        <h1 class="fs-1 mb-3 fw-bold">Rolling loud</h1>
                        Performed by <strong>Lil Nas X </strong><br>
                        <p class="fs-5">
                            <em>20/09/2022 4:00PM-7:00PM UTC+10:00</em><br>
                            
                            Located at: <a href="" class="text-decoration-none">Brisbane, 4122</a> <br> <br>
                            Lil Nas X will be performing multiple shows during this night such as Old Town Road,
                            Montero, Industry Baby and more! Experience it like never before with the front row
                            seats available below
                        </p>
                    </div>

                    <div class="col col-md-7">
                        <div>
                            <img class="img-fluid rounded mb-4 mb-md-0" src="./images/nasx.jpg" alt="" />
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <div class="py-5">
            <div class="container">
                <h1 class="fs-2 mb-5 fw-bold">Buy tickets ></h1>
                <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3 mb-5">
                    <div class="col">
                        <div class="card bg-dark border-0 h-100">
                            <div class="card-body">
                                <a class="text-light link-info bg-info text-decoration-none" href="./details.html">
                                    <h2 class="fs-5">Bronze</h2>
                                    <h2 class="fs-6">Back row seats</h2>
                                    <h2 class="fs-6 text-primary">$20</h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card bg-dark border-0 h-100">
                            <div class="card-body">
                                <a class="text-light link-info bg-info text-decoration-none" href="./details.html">
                                    <h2 class="fs-5">Ticket</h2>
                                    <h2 class="fs-6">Standard issue</h2>
                                    <h2 class="fs-6 text-danger">SOLD OUT</h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card bg-dark border-0 h-100">
                            <div class="card-body">
                                <a class="text-light link-info bg-info text-decoration-none" href="./details.html">
                                    <h2 class="fs-5">Gilded</h2>
                                    <h2 class="fs-6">Front row seats</h2>
                                    <h2 class="fs-6 text-primary">$80</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="fs-2 mb-5 fw-bold">Comments ></h1>

                <div class="row g-4 row-cols-1">
                    <div class="col">
                        <div class="card input bg-dark border-0 h-100">
                            <div class="card-body">
                                <a class="text-light bg-info text-decoration-none">
                                    <input type="text" class="form-control mb-3 " placeholder="" required>
                                </a>
                                <button type="button" class=" btn btn-outline-warning w-100">Comment</button>
                            </div>
                            
                        </div>
                        
                    </div>
                    

                    <div class="col">
                        <div class="card bg-dark border-0 h-100">
                            <div class="card-body">
                                <a class="text-light bg-info text-decoration-none">
                                    <h2 class="fs-5">LIT!!</h2>
                                    <h2 class="fs-6">This concert is going to be hype worth the $50</h2>
                                    <h2 class="fs-6 text-primary">Mike Jimmy (Silver)</h2>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card bg-dark border-0 h-100">
                            <div class="card-body">
                                <a class="text-light bg-info text-decoration-none">
                                    <h2 class="fs-5">mid</h2>
                                    <h2 class="fs-6">ughhh i was forced to be here</h2>
                                    <h2 class="fs-6 text-primary">Lajaow (Bronze)</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </main>

    <footer>
        <div class="py-5" style="background-color: #1a1a1f">
            <div class="container">
                <ul class="nav justify-content-center fs-5">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center text-decoration-none text-white link-info"
                            href="#">
                            <span>© Music Events</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</html>