{% extends 'base.html' %}

{% block heading %}
<h1 class="fs-1 mb-3 fw-bold">View your booking history</h1>
{% endblock %}


{% block content %}
{% if bookings.first() == None %}
<h1 class="fs-1 mb-3 fw-bold">No bookings found.
{% else %}
<div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3 mb-5">
    {% for booking in bookings %}
    {% for event in events %}
    {% if booking.event_id == event.event_id %}
    <div class="col">
        <a class="text-light link-info bg-info text-decoration-none" href="{{url_for('event.view', id=event.event_id)}}">
            <div class="card bg-dark border-0 h-100">
                <img class="card-img-top"
                    src="{{ event.event_image }}"
                    alt="{{ event.event_name }}" />
                <div class="card-body">
                    <h2 class="fs-4">[{{ booking.booking_id }}] {{ event.event_name }}</h2>
                    <h2 class="fs-5">by {{ event.event_artist }}</h2>
                    <h2 class="fs-4 text-warning">{{ event.event_status }}</h2>
                    <h2 class="fs-6">{{ booking.ticket_qty}}x Tickets purchased</h2>
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{% endif %}
{% endblock %}